@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
  Layout = "_Layout.cshtml";
}

<div class="large-8 columns">
  <h1>@Model.Name</h1>
  <h5>by @Model.Publisher.Name</h5>
  <div>
    Rating: <mark>@Model.Rating.AverageRating</mark> (out of @Model.Rating.RatingCount)
    <br /><br />
  </div>
  <article style="font-size:0.8rem;">
    @Html.Raw(Model.Text.Replace("\n", "<br />"))
  </article>
</div>
<div class="large-4 columns">
  <img src="/api/image/@(Model.Images.Logo.Id).jpg" alt="@Model.Name" style="float: right;" />
</div>

<hr />

<div class="large-12 columns">
  <h3>Screenshots</h3>

  @foreach (var image in Model.Images.Screenshots)
  {
    <a href="/api/image/@(image.Id).jpg"><img src="/api/image/@(image.Id).jpg" alt="" style="width: 115px;" /></a>
  }
</div>